.intro__contenido
    h2 #{títulos[1]}
    p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit.
        | Exercitationem debitis est possimus placeat nesciunt omnis,
        | earum aut voluptatibus laborum veritatis natus incidunt
        | quisquam dolor deserunt ut pariatur temporibus fugiat nisi?
        span Lorem ipsum dolor sit amet consectetur adipisicing elit.
    a.boton Leer más